@import '~src/assets/scss/variables';

$border-width: .1rem;
$loader-width: 1.5rem;

.loader {
  margin: auto;
  width: $loader-width;
  height: $loader-width;
  border-style: solid;
  border-image: initial;
  border-radius: 50%;
  border-width: $border-width;
  animation: spin .4s linear infinite;
  border-color: $color-black transparent transparent $color-black;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
