// General colors
$color-white: #fff;
$color-black: #000;
$color-background-infos: #f8f1ea;

// Font
$font-family: 'Garamond', Helvetica, sans-serif;
$font-family-italic: 'Garamond Italic', Helvetica, sans-serif;
$base-font-size: 1rem;

// Sizes
$spacing: 1rem;
$group-spacing: $spacing;

// Easing
$ease-out-quint: cubic-bezier(.23, 1, .32, 1);

// Breakpoints
@import '~src/assets/scss/breakpoints';
