// General colors
$color-white: #fff;
$color-black: #000;
$color-background-infos: #ece8ee;
$color-accent: #8039b5;
$color-red: red;

// Font
$font-family: 'Garamond', Helvetica, sans-serif;
$font-family-italic: 'Garamond Italic', Helvetica, sans-serif;
$base-font-size: .95rem;

// Sizes
$spacing: .375rem;
$group-spacing: $spacing;
$lightbox-bloc-size: 22.8rem;
$minimum-tile-width: 7rem;

// Easing
$ease-out-quint: cubic-bezier(.23, 1, .32, 1);

// Responsive
$bp-small: 767px;
$bp-medium: 992px;

// Breakpoints
@import '~src/assets/scss/breakpoints';
