// General colors
$color-white: #fff;
$color-black: #000;

// Font
// $font-family: 'Lato', sans-serif;
$font-family: Helvetica, sans-serif;
$base-font-size: 1rem;

// Sizes
$spacing: 1rem;
$group-spacing: $spacing / 3;

// Easing
$ease-out-quint: cubic-bezier(.23, 1, .32, 1);

// Breakpoints
@import '~src/assets/scss/breakpoints';
