@font-face {
  font-family: 'Garamond';
  src: url('~src/assets/fonts/garamond-be-regular.ttf');
}

@font-face {
  font-family: 'Garamond Italic';
  src: url('~src/assets/fonts/garamond-be-italic.ttf');
}

@import '~src/assets/scss/variables';
@import '~src/assets/scss/base';
@import '~src/assets/scss/breakpoints';
@import '~src/assets/scss/layout';
