@import '~src/assets/scss/variables';

.tile {
  height: 100%;
  padding-bottom: 150%;
  position: relative;

  &.is-letter {
    animation: fade-in 2s;
    z-index: 99;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  flex-wrap: wrap;

  button {
    width: 50%;
    height: 50%;
    padding: $spacing / 2;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

:host ::ng-deep svg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  z-index: 99;
  padding: $spacing / 2;
}

.button-image {
  opacity: 1;
  transition: opacity .6s;

  &.is-hidden {
    opacity: 0;
  }
}

.current-project-letter {
  color: red;
  font-size: 6rem;
}
