<div class="tile" [ngClass]="{'is-letter': data && data.letter}">
  <button *ngIf="data && data.letter" class="content" (click)="openInfos()"
    [inlineSVG]="'/assets/images/letters/regular/' + data.letter + '_regular.svg'"></button>
  <div *ngIf="data && data.images" class="content">
    <button *ngFor="let image of data.images" class="button-image"
      [ngClass]="{'is-hidden': hoverProjectId && hoverProjectId != image.projectId}" (click)="openLightbox(image)"
      (mouseenter)="onMouseEnter(image)" (mouseleave)="onMouseLeave()">
      <img draggable="false" [src]="image.thumbUrl" alt="" class="fade" (load)="onLoad()"
        [ngClass]="{'is-loaded': isLoaded}">
    </button>
  </div>
  <div *ngIf="projectTitleLetter" class="content project-letter"
    [inlineSVG]="'/assets/images/letters/italic/' + projectTitleLetter + '.svg'"></div>
</div>
