<li class="tile">
  <a *ngIf="data.letter" class="content" [routerLink]="['/infos']">
    <img src="/assets/images/letters/m.svg" alt="Letter">
  </a>
  <div *ngIf="data.cover" class="content">
    <button><img [src]="data.cover.data.thumbnails[1].url" alt=""></button>
  </div>
  <!-- <div *ngIf="data.images" class="content" [ngClass]="{'is-group': data.images.length > 1}"> -->
  <div *ngIf="data.images" class="content is-group">
    <button *ngFor="let image of data.images"><img [src]="image.data.thumbnails[1].url" alt=""></button>
  </div>
</li>
