<main class="main">
  <ul class="tiles" [ngClass]="{'is-visible': displayLetters, 'remove-zindex': removeZindex}">
    <app-tile *ngFor="let tile of tiles; let i = index; trackBy: trackByFunction" [data]="tile"
      [hoverProjectId]="hoverProjectId" [projectTitleLetter]="tile.projectTitleLetter"
      [@homeFadeInAnimation]="{ value: '', params: { delay: i * 100 } }" [ngClass]="{'is-logo-hover': tile.letter &&
      hoverLogo}">
    </app-tile>
    <app-tile *ngFor="let tile of tmpTiles; trackBy: trackByFunction" [projectTitleLetter]="tile.projectTitleLetter">
    </app-tile>
  </ul>
</main>

<div class="infos-wrapper" *ngIf="openInfos" [@slideInAnimation]>
  <app-infos></app-infos>
</div>

<div class="lightbox-wrapper" *ngIf="lightboxIndex != null" [@lightboxAnimation]>
  <app-lightbox [lightboxIndex]="lightboxIndex"></app-lightbox>
</div>
