@import '~src/assets/scss/variables';

.tiles {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($minimum-tile-width, 1fr));
  padding: $spacing / 2;
  opacity: 0;

  &.is-visible {
    opacity: 1;
  }
}

.infos-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: $color-background-infos;
}

.lightbox-wrapper {
  transform: scale(1);
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
}
