@import '~src/assets/scss/variables';

.tiles {
  display: grid;
  grid-gap: $spacing;
  grid-template-columns: repeat(auto-fill, minmax(7.5rem, 1fr));
  padding: $spacing;
  opacity: 0;

  &.is-visible {
    opacity: 1;
  }
}

.infos-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: $color-background-infos;
}

.lightbox-wrapper {
  transform: scale(1);
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
}

// Animation
:host ::ng-deep .letter-s {
  stroke-dasharray: 308 310;
  stroke-dashoffset: 309;
}

:host ::ng-deep .letter-a {
  stroke-dasharray: 345 347;
  stroke-dashoffset: 346;
}

:host ::ng-deep .letter-l {
  stroke-dasharray: 357 359;
  stroke-dashoffset: 358;
}

:host ::ng-deep .letter-m {
  stroke-dasharray: 470 472;
  stroke-dashoffset: 471;
}

:host ::ng-deep .letter-j {
  stroke-dasharray: 196 198;
  stroke-dashoffset: 197;
}

:host ::ng-deep .letter {
  animation: letter-draw 2666ms ease 0s forwards;
}

:host ::ng-deep .tile-wrapper:nth-child(3) .letter {
  animation-delay: .3s;
}

:host ::ng-deep .tile-wrapper:nth-child(5) .letter {
  animation-delay: .75s;
}

:host ::ng-deep .tile-wrapper:nth-child(7) .letter {
  animation-delay: 1.05s;
}

:host ::ng-deep .tile-wrapper:nth-child(8) .letter {
  animation-delay: 1.2s;
}

@keyframes letter-draw {
  100% {
    stroke-dashoffset: 0;
  }
}
