<main class="main">
  <ul class="tiles" [ngClass]="{'is-visible': displayLetters}">
    <app-tile *ngFor="let tile of tiles; let i = index; trackBy: trackByFunction" class="tile-wrapper" [data]="tile"
      [hoverProjectId]="hoverProjectId" [projectTitleLetter]="tile.projectTitleLetter"
      [@homeFadeInAnimation]="{ value: '', params: { delay: i * 100 } }"></app-tile>
    <app-tile *ngFor="let tile of tmpTiles; trackBy: trackByFunction" class="tile-wrapper"
      [projectTitleLetter]="tile.projectTitleLetter"></app-tile>
  </ul>
</main>

<div class="infos-wrapper" *ngIf="openInfos" [@slideInAnimation]>
  <app-infos></app-infos>
</div>

<div class="lightbox-wrapper" *ngIf="lightboxIndex != null" [@lightboxAnimation]>
  <app-lightbox [lightboxIndex]="lightboxIndex"></app-lightbox>
</div>
