<div class="lightbox">
  <div class="overlay" (click)="close()"></div>
  <div class="content" (swiperight)="swipeRight()" (swipeleft)="swipeLeft()">
    <div class="left hide-mobile">
      <h2 class="project-title">{{currentProject.title}}</h2>
      <span class="project-date">{{currentProject.date}}</span>
      <p class="project-description" [innerHtml]="currentProject.description"></p>
    </div>
    <div class="list-wrapper" [ngStyle]="{'width': entryWidth + 'px'}">
      <ul class="list" [ngClass]="{'is-animated': isAnimated}" [ngStyle]="{
        'transform': 'translate3d(-' + translate + 'px, 0, 0)'
      }">
        <li *ngFor="let image of images; let i = index" class="dialog"
          [ngStyle]="{'width': entryWidth + 'px', 'height': entryHeight + 'px'}">
          <button (click)="onClickDialog(i)" [disabled]="lightboxIndex == i">
            <app-lightbox-entry [image]="image"></app-lightbox-entry>
          </button>
        </li>
      </ul>
    </div>
    <div class="right hide-mobile">
      <h2 class="image-title">{{currentImage.title}}</h2>
      <p class="image-description" [innerHtml]="currentImage.description"></p>
      <button class="close-button" aria-label="Close button" (click)="close()"
        inlineSVG="/assets/images/icon-cross.svg"></button>
    </div>
  </div>
  <div class="mobile-buttons-wrapper hide-desktop">
    <button (click)="close()">Close</button>
    <button (click)="onClickMoreInfos()">More Infos</button>
  </div>
</div>

<div class="infos-wrapper" *ngIf="openInfos" [@slideInAnimation]>
  <app-lightbox-infos [project]="currentProject" [image]="currentImage" (closeInfos)="closeInfos()"></app-lightbox-infos>
</div>
