<div class="infos" [ngClass]="{'is-scrollable': displayLetters}">
  <div class="letters" [ngClass]="{'is-visible': displayLetters}">
    <button (click)="close()" inlineSVG="/assets/images/letters/regular/S_regular.svg"></button>
    <div></div>
    <button (click)="close()" inlineSVG="/assets/images/letters/regular/L_regular.svg"></button>
    <div></div>
    <button (click)="close()" inlineSVG="/assets/images/letters/regular/M_regular.svg"></button>
    <div></div>
    <button (click)="close()" inlineSVG="/assets/images/letters/regular/J_regular.svg"></button>
    <button (click)="close()" inlineSVG="/assets/images/letters/regular/A_regular.svg"></button>
  </div>

  <div class="inner">
    <h2 class="title">
      is the design project developed by Paris based designer Saloméja Jacquet (b. 1994, Paris). Between research and
      crafting, SLMJA involves making clothing, textiles and tangible seat-like systems, as well as final pieces made to order.
      It acts as a nexus of collaboration. SLMJA seeks to experiment with shape and surface using soft materials—making garments and objects in a same way,
      in a continuous collection and in relation to the body as the focal structure. Grounded in functionality, these textile objects maintain
      the energy of an organic process with their craft-like qualities.
    </h2>
    <div class="body">
      <div class="column">
        <section>
          <h3 class="with-indent">BIOGRAPHY</h3>
          <p>
            Saloméja Jacquet was born in 1994 in Paris. She graduated in 2017 from HEAD (Geneva, CH) in fashion design
            and accessories, after a two year-degree in fashion design in France.
          </p>
        </section>
        <section>
          <h3 class="with-indent">EXPERIENCE</h3>
          <ul>
            <li class="infos-entry">
              <p>
                2020, Paris (FR)
              </p>
              <p class="with-indent">
                Bétonsalon
              </p>
              <ul class="with-list-style">
                <li>
                  <span>●</span> Conception and production of draped chairs in collaboration with Ève Chabanon for her
                  solo exhibition <i>Le Surplus</i>.
                </li>
              </ul>
            </li>
            <li class="infos-entry">
              <p>
                2020, Paris (FR)
              </p>
              <p class="with-indent">
                BLESS
              </p>
              <ul class="with-list-style">
                <li>
                  <span>●</span> Sampling and production of small series of knitted pieces and objects.
                </li>
              </ul>
            </li>
            <li class="infos-entry">
              <p>
                2019, Aubervilliers (FR)
              </p>
              <p class="with-indent">
                Collective Café
              </p>
              <ul class="with-list-style">
                <li>
                  <span>●</span> Conception and production of a knitted bench and ottoman for this cultural café.
                </li>
              </ul>
            </li>
            <li class="infos-entry">
              <p>
                2019, Marseille (FR)
              </p>
              <p class="with-indent">
                Adélaïde Gallery
              </p>
              <ul class="with-list-style">
                <li>
                  <span>●</span> Collaboration with the artist Xavier Antin on a sofa exhibited in Marseille.
                </li>
              </ul>
            </li>
            <li class="infos-entry">
              <p>
                2019, Geneva (CH)
              </p>
              <p class="with-indent">
                MAMCO
              </p>
              <ul class="with-list-style">
                <li>
                  <span>●</span> Presenting knitted garments and bench at Espace Témoin with Quality Time collective.
                </li>
              </ul>
            </li>
            <li class="infos-entry">
              <p>
                2018—2019, Paris (FR)
              </p>
              <p class="with-indent">
                Manuel Manufactures
              </p>
              <ul class="with-list-style">
                <li>
                  <span>●</span> Designer assistant and intern, research by making for Haider Ackermann, Alyx Studio,
                  Georgia
                  Pendlebury, Nike, Vincent Delbrouck and Mariel Manuel.
                </li>
              </ul>
            </li>
            <li class="infos-entry">
              <p>
                2017, Geneva (CH)
              </p>
              <p class="with-indent">
                Le Vélodrome
              </p>
              <ul class="with-list-style">
                <li>
                  <span>●</span> Conception and production of a sculpture made
                  of fabric with artist Kevin Gotkovsky exhibited during the group
                  show <i>Les Prétendantes de Saint-Clotilde</i>.
                </li>
              </ul>
            </li>
            <li class="infos-entry">
              <p>
                2017, Berlin (DE)
              </p>
              <p class="with-indent">
                Po Berlin store
              </p>
              <ul class="with-list-style">
                <li>
                  <span>●</span> Presenting garments from BA collection.
                </li>
              </ul>
            </li>
            <li class="infos-entry">
              <p>
                2016, Riga (LV)
              </p>
              <p class="with-indent">
                Mareunrol’s
              </p>
              <ul class="with-list-style">
                <li>
                  <span>●</span> Studio intern, research and development of men and women collections
                  SS 2017, textile experiments, prototyping, photoshoots, set design, fashion performance.
                </li>
              </ul>
            </li>
          </ul>

        <h3 class="with-indent">EDUCATION</h3>
        <li class="infos-entry">
          <p>
            2014—2017
          </p>
          <p class="with-indent">
            <i>Bachelor—Fashion design, textile & accessories</i>—HEAD Geneva (CH)
          </p>
        </li>

                <li class="infos-entry">
          <p>
            2012—2014
          </p>
          <p class="with-indent">
            <i>BTS—Fashion design degree</i>—Tours (FR)
          </p>
        </li>

                <li class="infos-entry">
          <p>
            2009—2012
          </p>
          <p class="with-indent">
            <i>Baccalauréat—Applied-arts</i>—Congis (FR)
          </p>
        </li>

        </section>
      </div>
      
  


      <div class="column">
         <section>
          <h3 class="with-indent">CONTACT</h3>
          <a href="mailto:salomeja@slmja.com">salomeja@slmja.com</a>
          <p>
            +33(0) 6 10 24 20 87
            <br>
            59 rue Alfred Jarry, 93300 Aubervilliers (FR)
          </p>
          <a href="http://www.notjustalabel.com/slmja">Not Just A Label</a>, <a
            href="http://www.instagram.com/slmja">Instagram</a>
        </section>

      

        <section>
          <h3 class="with-indent">CREDITS</h3>
          <p>
            All photographs © by Aurélien Mole, Wilfrid Almendra, Xavier Antin, Mariel Manuel, Johnny Dufort, Kuba Dabrowski, Cécilia Poupon, Pablo Réol,
            Andreas Lumineau, Charlotte Krieger, Aiga Ozolina, Nicolas Coulomb, Anders Edström and Saloméja Jacquet.
            Website designed by Kevin Gotkovsky and developed by <a href="https://www.paulgiron.com">Paul Giron</a>.
          </p>
        </section>
      </div>
  


        <section>
          <h3 class="with-indent">PUBLICATIONS</h3>
          
                     <ul>
            <li class="infos-entry">
              <p>
                <i>No Name S20</i>, 2020
              </p>
              <ul class="with-list-style">
                <li>
                  Photographs by David Hugonot Petit, style by Déborah Amaral and Anna Redon.
                </li>
            </ul>
              
          <ul>
            <li class="infos-entry">
              <p>
                <i>Aleï Journal</i>, issue 6, 2019
              </p>
              <ul class="with-list-style">
                <li>
                  Photographs by Andreas Lumineau and style by Fanny Devaux.
                </li>
            </ul>

           <ul>
            <li class="infos-entry">
              <p>
                <i>Double Magazine</i> issue 35, 2018
              </p>
              <ul class="with-list-style">
                <li>
                  Photographs by Anders Edström and style by Camille Bidault Waddington.
                </li>
            </ul>
              
           <ul>
            <li class="infos-entry">
              <p>
                <i>Axaxaxa Mixed Media</i>, 2018
              </p>
              <ul class="with-list-style">
                <li>
                  Art direction by Océane Bacher, photographs by Charlotte Krieger and style by Fanny Devaux.
                </li>
            </ul>
              
           <ul>
            <li class="infos-entry">
              <p>
                <i>Schön Magazine</i>, 2018
              </p>
              <ul class="with-list-style">
                <li>
                  Art direction by Jordan Mergirie, photographs by Johanna Benainous and Elsa Para, style by Anna Redon.
                </li>
            </ul>
              
           <ul>
            <li class="infos-entry">
              <p>
                <i>August Alsina Tour</i>, 2018
              </p>
              <ul class="with-list-style">
                <li>
                  Style by Santa Bevacqua for the concert in Frankfurt.
                </li>
            </ul>

           <ul>
            <li class="infos-entry">
              <p>
                <i>T Magazine</i>, 2017
              </p>
              <ul class="with-list-style">
                <li>
                  Photographs by Dmitry Bukreev and style by Lucie Guiragossian.
                </li>
            </ul>
              
           <ul>
            <li class="infos-entry">
              <p>
                <i>Sleek Magazine</i>, 2017
              </p>
              <ul class="with-list-style">
                <li>
                  Photographs by Aga Ozolina and style by Rudolfs A. Packevics.
                </li>
            </ul>
              
           <ul>
            <li class="infos-entry">
              <p>
                <i>HEAD diploma edition,</i>, 2017
              </p>
              <ul class="with-list-style">
                <li>
                  Art direction and style by Florence Tétier, photographs by Nicolas Coulomb.
                </li>
            </ul>
              
        </section>
      </div>


</div>
  </div>
  <button class="close-button" aria-label="Close button" (click)="close()"
    inlineSVG="/assets/images/icon-cross.svg"></button>
</div>
