@import '~src/assets/scss/variables';

.infos {
  width: 100%;
  height: 100%;

  &.is-scrollable {
    overflow: auto;
  }
}

.letters {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($minimum-tile-width, 1fr));
  padding: $spacing / 2;
  opacity: 0;

  @media screen and (max-width: $bp-small) {
    display: none;
  }

  &.is-visible {
    opacity: 1;
  }

  >div {
    padding: $spacing / 2;
  }

  button {
    width: 100%;
    height: 100%;
    padding-bottom: 150%;
    position: relative;
  }
}

:host ::ng-deep svg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  padding: $spacing / 2;
}

.inner {
  max-width: 65rem;
  padding: 1rem;
  padding-top: 0;
  padding-right: 0;

  @media screen and (max-width: $bp-small) {
    padding-top: .75rem;
    padding-right: 3rem;
  }
}

.body {
  display: flex;
  margin-top: 3.5rem;

  @media screen and (max-width: $bp-small) {
    display: block;
  }
}

.column {
  width: 50%;

  @media screen and (max-width: $bp-small) {
    width: 100%;
  }

  &:first-child {
    margin-right: 1rem;

    @media screen and (max-width: $bp-small) {
      margin-right: 0;
    }
  }
}

section :not(:last-child) {
  margin-bottom: 2rem;
}

.infos-entry:not(:last-child) {
  margin-bottom: 1rem;
}

.with-indent {
  text-indent: 2rem;
}

.with-list-style span {
  font-size: .6em;
  position: relative;
  top: -2px;
}

.close-button {
  @media screen and (max-width: $bp-small) {
    width: 1.75rem;
    height: 42px;
    top: .75rem;
    right: .75rem;
  }
}

:host ::ng-deep .close-button line {
  @media screen and (max-width: $bp-small) {
    stroke-width: 1.25 !important;
  }
}

.hide-desktop {
  @media screen and (min-width: $bp-small) {
    display: none;
  }
}
