<div class="infos" [ngClass]="{'is-scrollable': displayLetters}">
  <div class="letters" [ngClass]="{'is-visible': displayLetters}">
    <button (click)="close()" inlineSVG="/assets/images/letters/S.svg"></button>
    <div></div>
    <button (click)="close()" inlineSVG="/assets/images/letters/L.svg"></button>
    <div></div>
    <button (click)="close()" inlineSVG="/assets/images/letters/M.svg"></button>
    <div></div>
    <button (click)="close()" inlineSVG="/assets/images/letters/J.svg"></button>
    <button (click)="close()" inlineSVG="/assets/images/letters/A.svg"></button>
  </div>
  <div class="inner">
    <h2 class="title">
      is the design project developed by Paris based designer Saloméja Jacquet (b. 1994, Paris). Between research and
      making, SLMJA involves crafting clothing, textile and seat-like principles, as well as final pieces as a service.
      SLMJA seeks to experiment with shape and surface using soft materials—making garments and objects in a same way,
      in relation to the body as a common structure. After taking place in functionality, those textile objects tend to
      keep the energy of an organic process with its craft-like qualities.
    </h2>
    <div class="body">
      <div class="column">
        <section>
          <h3 class="with-indent">BIOGRAPHY</h3>
          <p>
            Saloméja Jacquet was born in 1994 in Paris. She graduated in 2017 from HEAD (Geneva, CH) in fashion design
            and accessories, after a two year-degree in fashion design in France.
          </p>
        </section>
        <section>
          <h3 class="with-indent">EXPERIENCE</h3>
          <ul>
            <li class="infos-entry">
              <p>
                2020, Paris (FR)
              </p>
              <p class="with-indent">
                Bétonsalon
              </p>
              <ul class="with-list-style">
                <li>
                  <span>●</span> Conception and production of draped chairs in collaboration with Ève Chabanon for her
                  solo exhibition
                  Le Surplus.
                </li>
              </ul>
            </li>
            <li class="infos-entry">
              <p>
                2020, Paris (FR)
              </p>
              <p class="with-indent">
                Bétonsalon
              </p>
              <ul class="with-list-style">
                <li>
                  <span>●</span> Conception and production of draped chairs in collaboration with Ève Chabanon for her
                  solo exhibition
                  Le Surplus.
                </li>
              </ul>
            </li>
          </ul>
        </section>
      </div>
      <div class="column">
        <section>
          <h3 class="with-indent">CONTACT</h3>
          <a href="mailto:salomeja@slmja.com">salomeja@slmja.com</a>
          <p>
            +33(0) 6 10 24 20 87
            <br>
            59 rue Alfred Jarry, 93300 Aubervilliers (FR)
          </p>
          <a href="www.google.com">Not Just A Label</a>, <a href="www.google.com">Instagram</a>
        </section>
      </div>
    </div>
  </div>
  <button class="close-button" aria-label="Close button" (click)="close()"
    inlineSVG="/assets/images/icon-cross-animated.svg"></button>
</div>
